@{
    ViewData["Title"] = "User Dashboard";
}

<h2>@ViewBag.Message</h2>
<p>Chào mừng bạn đến với trang người dùng. Đây là các thông tin cá nhân của bạn.</p>
<div class="btn-group">
    <!-- Nút quản lý khóa học -->
    <a class="btn btn-primary" asp-controller="KhoaHoc" asp-action="Index">Danh sách khóa học</a>

    <!-- Nút thêm khóa học -->
    <a class="btn btn-success" asp-controller="User" asp-action="Edit">Chỉnh sửa hồ sơ</a>


 
</div>