
<ul class="navbar-nav ms-auto align-items-center">

	@if (Context.Session.GetString("MaHocVien") != null) // Kiểm tra đăng nhập
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">
				Logout
			</a>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="Login">
				Login
			</a>
		</li>
	}


</ul>