@model User

<form method="post" asp-action="DeletePOST">
    <input asp-for="MaHocVien" hidden />
    <div class="card border-light mt-4">
        <div class="card-header bg-danger text-white text-center">
            <h2>Xóa Học Viên</h2>
        </div>
        <div class="card-body">
            <div asp-validation-summary="All"></div>

            <div class="mb-3">
                <label asp-for="HoTen" class="form-label">Họ tên</label>
                <input asp-for="HoTen" disabled class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="NgaySinh" class="form-label">Ngày sinh</label>
                <input asp-for="NgaySinh" disabled class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="SoDienThoai" class="form-label">Số điện thoại</label>
                <input asp-for="SoDienThoai" disabled class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" disabled class="form-control" />
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-danger" style="width:150px">Xóa</button>
                <a asp-controller="HocVien" asp-action="Index" class="btn btn-secondary" style="width:150px">Quay lại</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
