@model KhoaHoc
<form method="post" asp-action="Create">
	<div class="border pt-3 mt-4">
		<div class="row pb-2">
			<h2 class=" text-primary text-md-center">Thêm khoá học</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>

		<div class="mb-3">
			<label asp-for="TenKhoaHoc"></label>
			<input asp-for="TenKhoaHoc" class="form-control" />
			<span asp-validation-for="TenKhoaHoc" class="text-danger"></span>

		</div>

		<div class="mb-3">
			<label asp-for="GiangVien"></label>
			<input asp-for="GiangVien" class="form-control" />
			<span asp-validation-for="GiangVien" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="ThoiGianKhaiGiang"></label>
			<input asp-for="ThoiGianKhaiGiang" type="date" class="form-control" />
			<span asp-validation-for="ThoiGianKhaiGiang" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="HocPhi"></label>
			<input asp-for="HocPhi" class="form-control" />
			<span asp-validation-for="HocPhi" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="SoLuongHocVien"></label>
			<input asp-for="SoLuongHocVien" class="form-control" />
			<span asp-validation-for="SoLuongHocVien" class="text-danger"></span>
		</div>

		<div class="mt-3">
			<button type="submit" class="btn btn-primary" style="width:150px">Thêm</button>
			<a asp-controller="KhoaHoc" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>
		</div>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}