@model KhoaHoc

<form method="post" asp-action="Edit">
    <div class="card border-light mt-4">
        <div class="card-header bg-warning text-white text-center">
            <h2>Chỉnh Sửa Khóa Học</h2>
        </div>
        <div class="card-body">
            <div asp-validation-summary="All"></div>

            <div class="mb-3">
                <label asp-for="MaKhoaHoc" class="form-label">Mã khóa học</label>
                <input asp-for="MaKhoaHoc" class="form-control" readonly />
                <span asp-validation-for="MaKhoaHoc" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="TenKhoaHoc" class="form-label">Tên khóa học</label>
                <input asp-for="TenKhoaHoc" class="form-control" />
                <span asp-validation-for="TenKhoaHoc" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="GiangVien" class="form-label">Giảng viên</label>
                <input asp-for="GiangVien" class="form-control" />
                <span asp-validation-for="GiangVien" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="HocPhi" class="form-label">Học phí</label>
                <input asp-for="HocPhi" type="number" class="form-control" />
                <span asp-validation-for="HocPhi" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="SoLuongHocVien" class="form-label">Số lượng học viên</label>
                <input asp-for="SoLuongHocVien" type="number" class="form-control" />
                <span asp-validation-for="SoLuongHocVien" class="text-danger"></span>
            </div>

            <div class="mt-3 text-center">
                <button type="submit" class="btn btn-primary" style="width:150px">Cập Nhật</button>
                <a asp-controller="KhoaHoc" asp-action="Index" class="btn btn-secondary" style="width:150px">Quay lại</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
