@{
    ViewData["Title"] = "Login";
    //Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Tôi yêu DUT UwU</h1>
    <p>Thêm điểm rèn luyện go brr brr</p>
</div>
