@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>@ViewBag.Message</h2>
<p>Trang này chỉ dành cho Admin. Đây là các thông tin và chức năng quản lý của Admin.</p>

<div class="btn-group">
    <!-- Nút quản lý khóa học -->
    <a class="btn btn-primary" asp-controller="KhoaHoc" asp-action="Index">Danh sách khóa học</a>

    <!-- Nút thêm khóa học -->
    <a class="btn btn-success" asp-controller="HocVien" asp-action="Index">Danh sách học viên</a>

 
</div>
